/* reset global remove margens e preenchimentos padrão de todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header {
  background-color: #ff9d00;
  position: absolute;
  width: 1000px;
  height: 270px;
  z-index: 1;
  left: 250px;
  top: 10px;
}
#bar {
  background-color: #ffffff;
  position: absolute;
  width: 600px;
  height: 40px;
  z-index: 2;
  left: 430px;
  top: 130px;
}
#button {
  background-color: #3e3e3e;
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 3;
  left: 990px;
  top: 130px;
}
.nav-card1 {
  background-color: #6a6a6a;
  position: absolute;
  width: 180px;
  height: 40px;
  z-index: 5;
  top: 300px;
  left: 355px;
}
.nav-card2 {
  background-color: #6a6a6a;
  position: absolute;
  width: 180px;
  height: 40px;
  z-index: 5;
  top: 300px;
  left: 555px;
}
.nav-card3 {
  background-color: #6a6a6a;
  position: absolute;
  width: 180px;
  height: 40px;
  z-index: 5;
  top: 300px;
  left: 755px;
}
.nav-card4 {
  background-color: #6a6a6a;
  position: absolute;
  width: 180px;
  height: 40px;
  z-index: 5;
  top: 300px;
  left: 955px;
}

#card1 {
  background-color: #ff9d00;
  position: absolute;
  width: 180px;
  height: 180px;
  z-index: 4;
  top: 350px;
  left: 355px;
}

#card2 {
  background-color: #6a6a6a;
  position: absolute;
  width: 180px;
  height: 180px;
  z-index: 4;
  top: 350px;
  left: 555px;
}

#card3 {
  background-color: #00bfff;
  position: absolute;
  width: 180px;
  height: 180px;
  z-index: 4;
  top: 350px;
  left: 755px;
}

#card4 {
  background-color: #6a6a6a;
  position: absolute;
  width: 180px;
  height: 370px;
  z-index: 4;
  top: 350px;
  left: 955px;
}

#card5 {
  background-color: #6a6a6a;
  position: absolute;
  width: 180px;
  height: 180px;
  z-index: 4;
  top: 540px;
  left: 355px;
}

#card6 {
  background-color: #ff9d00;
  position: absolute;
  width: 380px;
  height: 180px;
  z-index: 4;
  top: 540px;
  left: 555px;
}